.compare{
  text-align: center;
  margin: 30px auto;
}

p{
    font-weight: 400;
}
.container .row{
  border-bottom: 0.1px solid #e0ece4;
  margin:  5px auto;
  padding: 5px inherit;
  min-height: 40px;
}
.col-6{
  border-left: 0.1px solid #e0ece4;
  border-right: 0.1px solid #e0ece4;

}
.row2 {
  border: 0.1px solid #e0ece4;
  padding: 5px;
  font-weight: bold;

}
.thead1{
  border-left: 0;
}
.thead2{
  border-right: 0;
}
.thead{
  text-align: center;
}
.compare-content{
  text-align: left;
  max-width: 900px;
  margin: auto;
  font-weight: 400!important;
}
.compare-img{

  margin: auto;
  text-align: center;
}
.compare-img img{
  max-width: 900px;
  vertical-align: middle;
  width: 80vw;
  margin: auto;
}
@media (max-width: 992px){
  .compare-main{
      margin: 20px;
  }

}
