@import url(//fonts.googleapis.com/css?family=Oregano|Merienda);

.mwl {
font-family: 'Merienda', cursive;
}
.ks {
font-family: 'Oregano', cursive;
font-size:18px;
}
.ks a{
text-transform: none !important;
color: white;
}
.head{
  text-align: center;
  color: #cc0064;

}
.head h1{
  font-weight: bold;
}
.body{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
.mid-div1{
  padding: 20px;
  font-size: 19px;
  background-color: rgb(81, 152, 114,);
    opacity: 50;

}

.mid-content{
  padding: 20px;
}
.mid-div1 h3, .mid-div1 h4{
  font-weight: bold;
}
.mid-sec1{
   background-color: rgb(64, 168, 196);
   opacity: 70;
  text-align: center;
  color: white;
  padding: 20px;
}
@media (min-width: 992px) {
.rotateimg220 {
  -webkit-transform:rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.card{
  padding: 5px;
  min-height: 200px;
}
.card2{
  padding: 5px;
  min-height: 350px;
}
}
#tm-section-2{
  padding: 20px;
}
.sec4{
  margin-top: 30px;
}
.sec2{
  padding-top: 30px;
}
nav{
  font-family: 'Bree Serif', serif;
  font-size: 20px;
}
.container .navbar-brand{
  font-size: 35px;
  font-family: 'Courgette', cursive;
}
.changecolor{
  color: #cc0064;
}
.links li a{
  color: white;

}
.links li{
    list-style-type: none;
}
.icons{
  margin: 3px;
}
#footer{
  margin-right: 0!important;
  margin-left: 0!important;
}
