@import url(//fonts.googleapis.com/css?family=Oregano|Merienda);

p{
    font-weight: 400;
}


.mwl {
font-family: 'Merienda', cursive;
}
.ks {
font-family: 'Oregano', cursive;
font-size:18px;
}
.ks a{
text-transform: none !important;
color: white;
}
.nav-link:hover{
  color:#cc0064 !important ;
  font-weight: bold;
}
.head{
  text-align: center;
  color: #cc0064;

}
.head h1{
  font-weight: bold;
}
.body{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
.mid-div1{
  padding: 20px;
  font-size: 19px;
  background-color: rgb(81, 152, 114,);
    opacity: 50;

}
.gifcontainer{
  margin: 0;
  width: 100vw;
  margin-right: 0!important;
  margin-left: 0!important;
}
.gifrow {
  margin-right: 0!important;
  margin-left: 0!important;
}

.mid-content{
  padding: 20px;
}
.mid-div1 h3, .mid-div1 h4{
  font-weight: bold;
}

.mid-sec1{
   background-color: rgb(64, 168, 196);
   opacity: 70;
  text-align: center;
  color: white;
  padding: 20px;
}
.tm-container{
  width: 100% !important;
  margin-right: 0!important;
  margin-left: 0!important;
}
.gifcontent{
  background-color: white;
    border-radius: 50px;
}
.gifcontent div{
  padding-top: 30px;

}
@media (max-width: 992px) {
  .gifcontent{
      width: 80vw!important;
      margin: auto;
  }

}
@media (min-width: 992px) {
  .gifcontent{
    background-color: white;
    border-radius: 0%;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 50%;

  }
  .gifcontent2{
    background-color: white;
    border-radius: 0%;
    border-radius: 25%;


  }
  .gifcontent div{
    margin: 40px;
  }
}

.gifcontainer{
  width: 100vw;
  margin: auto 0;
}
.gifcontainer,.gifrow{
  margin-right: 0px;
  margin-left: 0px;
}
.gifrow{
  width: 100%;

}
.gifrow div img{
  width: 80vw;

}
@media (min-width: 992px) {
.rotateimg220 {
  -webkit-transform:rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.gifrow div img{
  width: 40vw;

}
.card{
  padding: 5px;
  min-height: 200px;
}
.card2{
  padding: 5px;
  min-height: 350px;
}
}
#tm-section-2{
  padding: 20px;
}
.sec4{
  margin-top: 30px;
}
.sec2{
  padding-top: 30px;
}
nav{
  font-family: 'Bree Serif', serif;
  font-size: 20px;
}
.container .navbar-brand{
  font-size: 35px;
  font-family: 'Courgette', cursive;
}
.changecolor{
  color: #cc0064;
}
.links li a{
  color: white;

}
.links li{
    list-style-type: none;
}
.icons{
  margin: 3px;
}
.last-sec{
  font-weight: 500;
    margin-bottom: 0;
}
.last-sec div{
  max-width: 900px;
  min-width: 400px;
  margin: auto;

}
.last-sec div .btn{
  background-color: #1d2d50;
  color: white;

}
.last-sec div .btn:hover{
  background-color: #1d2d50;
  color: white;
  font-weight: bold;
}
#footer{
  margin-right: 0!important;
  margin-left: 0!important;
}
